<paper-app>

	<paper-header-app>
		Dostawa
	</paper-header-app>

	<paper-content-app>

		<label class="span-12">
      Magazyn przyjęcia:
		<input type="text" >
    </label>



		<div class="form-group">

			<label class="span-4">
      Dostawca:
		<input type="text" >
    </label>

			<label class="span-4">
      Numer dokumentu:
		<input type="text" >
    </label>

			<label class="span-4">
      Numer faktury:
		<input type="text" >
    </label>
		</div>


		<div class="form-group">

			<label class="span-7">
      Produkt:
		<input type="text" >
    </label>


			<label class="span-2">
      Ilość:
		<input type="text" >
    </label>

			<label class="span-3">
      Cena jednostkowa:
		<input type="text" >
    </label>
			<div class="button-container"><button>DODAJ</button></div>
		</div>

	</paper-content-app>

	<paper-footer-app>
		<button>Zapisz</button>
	</paper-footer-app>

</paper-app>